@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLOR PALETTE */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  /* TYPOGRAPHY */
  --font-size-body: 13px;
}

/*  */

body {
  font-size: var(--font-size-body);
  color: var(--very-dark-grayish-blue);
  background-color: var(--light-grayish-blue);
}

main {
}

/*  */

.article-card {
  @apply bg-white rounded-xl overflow-hidden transition-shadow duration-300 cursor-pointer;
}

.article-card:hover {
  @apply shadow-xl;
}

.article-card img {
  @apply w-full h-[200px] object-cover;
}

/* Attribution */

.attribution {
  @apply text-center text-xs;
}

.attribution a {
  color: var(--grayish-blue);
}

/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

> 💡 These are just the design sizes. Ensure content is responsive and meets WCAG requirements by testing the full range of screen sizes from 320px to large screens.

### Headings

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700

## Icons

We provide SVGs for the social icons. But please feel free to use a font icon library if you like. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)
*/
